<!-- <div class="container">
    <br>
    <br>
<h2 class="page-header" >Login</h2>
<form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" class="form-control" placeholder="Enter Username" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" placeholder=" Enter Password" [(ngModel)]="password" name="password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          
          <label>
            <a  [routerLink]="['/forgotpassword']">Forgot Password</a> 
          </label>
        </div>
        <input class="btn btn-lg btn-primary" type="submit" value="Login">
        

        <a class="btn btn-primary" 	href="http://localhost:8080/user/auth/facebook">Login With Facebook</a> 
        
</form>

    </div> -->



<div class="container padding" align="center" >
    <h2 class="page-header">Login</h2>
  <div class="col-6 col-offset-3 padding" >
   
 
      <form (submit)="onLoginSubmit()">
        <div class="form-group">
            <!-- <br><br> -->
            <div class="col-6 col-offset-3" >
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="email" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-6 col-offset-3" >
              <label>Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password">
          </div>
        </div>
        <a  [routerLink]="['/forgotpassword']">Forgot Password?</a>  <br><br>
        <a  [routerLink]="['/register']">Register Here</a><br><br>
        <input type="submit" class="btn btn-primary" value="Login">
      </form>
      
  </div>
</div>
